body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 241, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* App */
.App button.back {
  position: relative;;
  background-color: rgb(245, 218, 179);
  color: black;
  padding: 5px;
  margin: 5px;
  font-size: 11px;
  border-radius: 10px;
  
}
/* Home */



.home button{
  background-color: rgb(245, 218, 179);
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.home button .link{
  text-decoration: none;
  color: black;
}

.home div .workout-preview {
  color:black;
  border:4px solid #a79a9a;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: rgb(247, 198, 181);
  border-radius: 10px;
  
  
}

.home div a{
  text-decoration: none;
}
.home h2{
  text-decoration: underline;
}

/* Add Workout */

.create button {
  background-color: rgb(245, 218, 179);
  color: black;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  
}
.create button  a{
  color: black;
  text-decoration: none;
}
.create label{
  color:hsl(0, 0%, 33%);
}
.create input{
  color:hsl(0, 0%, 33%) ;
}

.create select{
  color: hsl(0, 0%, 33%);
}
.create h2{
  color: rgb(63, 63, 63);
}

/* Add Excersises */
.addEx h2{
  color: rgb(63, 63, 63);
}
.addEx h4{
  color: rgb(70, 70, 70);
}
.addEx label{
  color: hsl(0, 0%, 33%);
}
.addEx input{
  color: hsl(0, 0%, 33%);
}
.addEx button {
  background-color: rgb(245, 218, 179);
  color: black;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
}
/* Previous Workouts */

.Excersises button {
  background-color: rgb(245, 218, 179);
  color: black;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.Excersises div{
  display: inline-block;
  padding: auto;
  margin: 15px;
  background-color: white;
  border: 4px solid #a79a9a;
  border-radius: 5px;
}


